section#competitions
	.container
		h2 Competitions
		p We host two competitions a year, a fall invitational and a spring regional competition.
		p Each competition features high-quality tests written and proctored by University of Texas at Austin faculty and Science Olympiad alumni. See the below links for more information.
		.flex.cl
			a.btn.btn-bright(href='invitational.html') Invitational Info
			a.btn.btn-bright(href='invitational.html') Regional Info