section#join
	.container
		h2 Join Us
		form.flex.cl
			input(type='text' placeholder='Full Name*' required)
			input(type='text' placeholder='Email*' required)
			input(type='text' placeholder='Phone')
			textarea(placeholder='Questions, comments, concerns?')
			i * required
		button.btn#submit(href='#') Submit
