.container
	width: 80%
	margin: 0 auto

section
	padding: 50px 0 50px 0

	&:focus
		outline: none

.flex
	display: flex

.center-both
	align-items: center
	justify-content: center

.cl
	flex-direction: column

// Buttons

.btn
	padding: 15px 25px
	border: 1px solid $burnt-orange
	text-decoration: none
	color: $burnt-orange
	text-align: center
	transition: 0.2s ease all
	border-radius: 30px

	&:hover
		color: white
		background-color: $burnt-orange

.btn-bright
	color: white
	border-color: $burnt-orange
	background-color: $burnt-orange
	transition: 0.2s ease all

	&:hover
		color: $burnt-orange
		background-color: white