section#competitions
	.container
		h2 2017 Fall Invitational
		h3 Details
		p The UT Austin Fall Invitaional will be held on 
			strong November 11, 2017
			|  at the University of Texas at Austin.
		p The tournament will feature tests written by faculty as well as experienced former competitors. All 23 national events along with the 5 state events will be run. Any questions can be directed to 
			a(href="mailto:longhorn.soaa@gmail.com?Subject=UT%20Science%20Olympiad%20Tournament%20Questions") longhorn.soaa@gmail.com
			| .
		h3 Important Links
		.btn-container.flex.cl
			a.btn(href="https://docs.google.com/forms/d/e/1FAIpQLSdeVLdnDarF2PiCw6QQTCu9v5bfPMCi4u6DdfsoXbBgMqgy8w/viewform" rel="noreferrer noopener" target="_blank") Register
			a.btn(href="https://docs.google.com/forms/d/15g7YCC8AkHhfzpA2Rb2_vs6PcemFlikEAhiPmGxe2Fo/viewform?uiv=1&edit_requested=true" rel="noreferrer noopener" target="_blank") Division B Event Drop Form
			a.btn(href="https://docs.google.com/forms/d/1GlUJwtFm_Huh6OuulhTLtsdu82A1RzKF4jeTK1-K_KU/viewform?uiv=1&edit_requested=true" rel="noreferrer noopener" target="_blank") Division C Event Drop Form
			a.btn(href="http://atxscioly.com/attachments/2017Invitational/TeamNumbers.pdf" rel="noreferrer noopener" target="_blank") Team Numbers
			a.btn(href="http://atxscioly.com/attachments/2017Invitational/2017-UT-Invitational-Div-B-Schedule.pdf" rel="noreferrer noopener" target="_blank") Division B Schedule
			a.btn(href="http://atxscioly.com/attachments/2017Invitational/2017-UT-Invitational-Div-C-Schedule.pdf" rel="noreferrer noopener" target="_blank") Division C Schedule
			a.btn(href="https://utexas.app.box.com/s/5ckx9zggsh1bxoveurb7jsbymsu8zod6" rel="noreferrer noopener" target="_blank") Past Tests/Keys/Photos

		h3 Past Results
		.flex
			.btn-container.flex.cl
				h4.text-center Division B
				a.btn(href="http://atxscioly.com/attachments/F16Invitational/UT_Invitational_Div_B_Results.pdf" rel="noreferrer noopener" target="_blank") 2016 Fall
				a.btn(href="http://atxscioly.com/attachments/2016Invitational/UT%20Science%20Olympiad%20Invitational%20Division%20B%20Final.pdf" rel="noreferrer noopener" target="_blank") 2016 Spring
			.btn-container.flex.cl
				h4.text-center Division C
				a.btn(href="http://atxscioly.com/attachments/F16Invitational/UT_Invitational_Div_C_Results.pdf" rel="noreferrer noopener" target="_blank") 2016 Fall
				a.btn(href="http://atxscioly.com/attachments/2016Invitational/UT%20Science%20Olympiad%20Inviational%20Division%20C%20Final.pdf" rel="noreferrer noopener" target="_blank") 2016 Spring
	.container
		h2 2018 Regional Tournament
		h3 Details
		p The UT Austin Regional tournament will be held on 
			strong February 24, 2018
			|  at the University of Texas at Austin.
		p The tournament will feature tests written by faculty as well as experienced former competitors. All 23 national events along with the 5 state events will be run. Any questions can be directed to 
			a(href="mailto:longhorn.soaa@gmail.com?Subject=UT%20Science%20Olympiad%20Tournament%20Questions") longhorn.soaa@gmail.com
			| .
		h3 Important Links
		.btn-container.flex.cl
			a.btn(href="https://docs.google.com/forms/d/e/1FAIpQLSdeVLdnDarF2PiCw6QQTCu9v5bfPMCi4u6DdfsoXbBgMqgy8w/viewform" rel="noreferrer noopener" target="_blank") Register
			a.btn(href="https://docs.google.com/forms/d/15g7YCC8AkHhfzpA2Rb2_vs6PcemFlikEAhiPmGxe2Fo/viewform?uiv=1&edit_requested=true" rel="noreferrer noopener" target="_blank") Division B Event Drop Form
			a.btn(href="https://docs.google.com/forms/d/1GlUJwtFm_Huh6OuulhTLtsdu82A1RzKF4jeTK1-K_KU/viewform?uiv=1&edit_requested=true" rel="noreferrer noopener" target="_blank") Division C Event Drop Form
			a.btn(href="https://utexas.app.box.com/s/5ckx9zggsh1bxoveurb7jsbymsu8zod6" rel="noreferrer noopener" target="_blank") Past Tests/Keys/Photos
		h3 Past Results
		.flex
			.btn-container.flex.cl
				h4.text-center Division B
				a.btn(href="http://atxscioly.com/attachments/2017Regional/2017_UT_Regional_Div_B_Results.pdf" rel="noreferrer noopener" target="_blank") 2017
				a.btn(href="http://atxscioly.com/attachments/UT%20Regional%202016%20B%20Scoresheet.pdf" rel="noreferrer noopener" target="_blank") 2016
				a.btn(href="https://cns.utexas.edu/images/CNS/2015_DIV_B_FINAL_Team_Rankings.pdf" rel="noreferrer noopener" target="_blank") 2015
				a.btn(href="https://cns.utexas.edu/images/CNS/UT_Austin_Regional_Science_Olympiad_Results_2014_FINAL_Division_B.pdf" rel="noreferrer noopener" target="_blank") 2014
			.btn-container.flex.cl
				h4.text-center Division C
				a.btn(href="http://atxscioly.com/attachments/2017Regional/2017_UT_Regional_Div_C_Results.pdf" rel="noreferrer noopener" target="_blank") 2017
				a.btn(href="http://atxscioly.com/attachments/UT%20Regional%202016%20C%20Scoresheet.pdf" rel="noreferrer noopener" target="_blank") 2016
				a.btn(href="https://cns.utexas.edu/images/CNS/2015_DIV_C_FINAL_Team_Rankings.pdf" rel="noreferrer noopener" target="_blank") 2015
				a.btn(href="https://cns.utexas.edu/images/CNS/UT_Austin_Regional_Science_Olympiad_Results_2014_FINAL_Division_C.pdf" rel="noreferrer noopener" target="_blank") 2014