section#competitions
    .container
        h2 2018 Fall Invitational
        h3 Details
        p The 2018 UT Austin Invitational tournament will be held on 
            strong October 27, 2018
            |  at the University of Texas at Austin.
        p The tournament will feature tests written by faculty as well as experienced former competitors. All 23 national events and the 5 state events will be run. If you have any questions, please send them to 
            a(href="mailto:atxscioly+tournament@gmail.com") atxscioly+tournament@gmail.com
            | .
        .flex.cl.center-both
            .btn-container.flex.cl
                a.btn(href='https://goo.gl/forms/DenP1cHeInjzKIzf2' target='_blank' rel='noopener noreferrer') Register Now
                a.btn(href="../../../../dist/attachments/2018Invitational/UT-Master-Schedule-Division-B-Schedule.pdf" rel="noreferrer noopener" target="_blank") Division B Schedule
                a.btn(href="../../../../dist/attachments/2018Invitational/UT-Master-Schedule-Division-C-Schedule.pdf" rel="noreferrer noopener" target="_blank") Division C Schedule
        h2 2019 Regional Tournament
        h3 Details
        p In addition, UTSOAA will be hosting a regional tournament on 
            strong February 23, 2019
            | . More details soon!
        h2 Resources
        h3 Past Tests/Keys
        .flex
            .btn-container.flex.cl
                a.btn(href="https://utexas.app.box.com/s/5ckx9zggsh1bxoveurb7jsbymsu8zod6" target="_blank" rel="noopener noreferrer") Past Tests/Keys
            .btn-container.flex-cl
        h3 Past Results (Invitationals)
        .flex
            .btn-container.flex.cl
                h4.text-center Division B
                a.btn(href="../../../../dist/attachments/2017Invitational/2017_UT_Invitational_Div_B_Results.pdf" rel="noreferrer noopener" target="_blank") 2017 Fall
                a.btn(href="../../../../dist/attachments/F16Invitational/UT_Invitational_Div_B_Results.pdf" rel="noreferrer noopener" target="_blank") 2016 Fall
                a.btn(href="../../../../dist/attachments/2016Invitational/UT%20Science%20Olympiad%20Invitational%20Division%20B%20Final.pdf" rel="noreferrer noopener" target="_blank") 2016 Spring
            .btn-container.flex.cl
                h4.text-center Division C
                a.btn(href="../../../../dist/attachments/2017Invitational/2017_UT_Invitational_Div_C_Results.pdf" rel="noreferrer noopener" target="_blank") 2017 Fall
                a.btn(href="../../../../dist/attachments/F16Invitational/UT_Invitational_Div_C_Results.pdf" rel="noreferrer noopener" target="_blank") 2016 Fall
                a.btn(href="../../../../dist/attachments/2016Invitational/UT%20Science%20Olympiad%20Inviational%20Division%20C%20Final.pdf" rel="noreferrer noopener" target="_blank") 2016 Spring
        h3 Past Results (Regionals)
        .flex
            .btn-container.flex.cl
                h4.text-center Division B
                a.btn(href="../../../../dist/attachments/2017Regional/2017_UT_Regional_Div_B_Results.pdf" rel="noreferrer noopener" target="_blank") 2017
                //a.btn(href="../../../../dist/attachments/2017Regional/2017_UT_Regional_Div_B_Results.pdf" rel="noreferrer noopener" target="_blank") 2017
                a.btn(href="../../../../dist/attachments/2016Regional/UT%20Regional%202016%20B%20Scoresheet.pdf" rel="noreferrer noopener" target="_blank") 2016
                a.btn(href="https://cns.utexas.edu/images/CNS/2015_DIV_B_FINAL_Team_Rankings.pdf" rel="noreferrer noopener" target="_blank") 2015
                a.btn(href="https://cns.utexas.edu/images/CNS/UT_Austin_Regional_Science_Olympiad_Results_2014_FINAL_Division_B.pdf" rel="noreferrer noopener" target="_blank") 2014
            .btn-container.flex.cl
                h4.text-center Division C
                a.btn(href="../../../../dist/attachments/2017Regional/2017_UT_Regional_Div_C_Results.pdf" rel="noreferrer noopener" target="_blank") 2017
                a.btn(href="../../../../dist/attachments/2016Regional/UT%20Regional%202016%20C%20Scoresheet.pdf" rel="noreferrer noopener" target="_blank") 2016
                a.btn(href="https://cns.utexas.edu/images/CNS/2015_DIV_C_FINAL_Team_Rankings.pdf" rel="noreferrer noopener" target="_blank") 2015
                a.btn(href="https://cns.utexas.edu/images/CNS/UT_Austin_Regional_Science_Olympiad_Results_2014_FINAL_Division_C.pdf" rel="noreferrer noopener" target="_blank") 2014
