section#contact
    .container
        h2.text-center Join Us
        form.flex.cl.center-both
            p Please fill out this 
                a(href="https://docs.google.com/forms/d/1bGPnoVdNxs7j7G6-93ZGseSwFyNP_9dsnQP4l05zPJM/formResponse") form
                |  if you're interested in volunteering during either our regional or invitational competitions. Depending on which organizations you are part of, you may be able to get volunteer hours for helping out.
            //input(type='text' placeholder='Full Name*' required)
            //input(type='text' placeholder='Email*' required)
            //input(type='text' placeholder='Phone')
            //textarea(placeholder='Questions, comments, concerns?')
            //i * required
            //button.btn#submit(href='#') Submit