nav
    ul
        li.hide-mobile.active
            a(href='#landing-container') Home
        li
             a(href='#about') About
        li
            a(href='#competitions') Competitions
        li
            a(href='#resources') Resources
        li
            a(href='#contact') Contact
