extends partials/_layout

block content
  section#about
    .container
      h2 About Us
      p We are a University of Texas at Austin student organization dedicated to spreading STEM education throughout middle and high schools in Central Texas. <a href="https://www.soinc.org">Science Olympiad (Scioly)</a> is a K-12 national academic competition with events ranging from life sciences to engineering to earth sciences. Our goal is to mentor students in STEM subjects outside of the classroom curriculum and provide opportunities for competition on UT Campus.
