extends partials/_layout

block content
  section#contact
    .container
        h2.text-center Join Us
        form.flex.cl.center-both
            p Please fill out this 
                a(href="https://goo.gl/forms/qPdXcxN1xKbd5GsR2" target="_blank" rel="noopener noreferrer") form
                |  if you're interested in volunteering during either our regional or invitational competitions. Depending on which organizations you are part of, you may be able to get volunteer hours for helping out.
        h2.text-center Follow us
        #social-links
          a(href="https://www.instagram.com/atx.scioly/?hl=en")
            i.fab.fa-instagram.fa-2x
          a(href="https://www.facebook.com/atx.scioly/")
            i.fab.fa-facebook.fa-2x
          a(href="https://twitter.com/utaustinscioly")
            i.fab.fa-twitter.fa-2x