extends partials/_layout

block content
	section#home
		#landing-container.container.flex.cl.center-both
			img#logo(src='dist/imgs/logo.svg')
			h4 Rules for Algorithm Design are posted!
			#landing-buttons.flex.cl
				a.btn(href='./competitions.html') Regional Info
				a.btn.btn-bright(href='./resources.html') Resources