extends partials/_layout

block content
	#landing-container.container.flex.cl.center-both
		img#logo(src='dist/imgs/logo.svg')
		#landing-buttons.flex.cl
			a.btn.btn-bright(href='invitational.html') Invitational
			a.btn(href='#about') Learn More
		//- #scroll-container.flex.cl.center-both
		//- 	p Learn more
		//- 	a#scroll-icon(href='#about')
	include partials/pages/_about
	include partials/pages/_competitions
	include partials/pages/_join