extends partials/_layout

block content
	#landing-container.container.flex.cl.center-both
		img#logo(src='dist/imgs/logo.svg')
		#landing-buttons.flex.cl
			a.btn.btn-bright(href='#about') About
			a.btn.btn-bright(href='#') Invitational
		//- #scroll-container.flex.cl.center-both
		//- 	p Learn more
		//- 	a#scroll-icon(href='#about')
	include partials/pages/_about